.tour__Card {
    border: groove 1px grey;
    /* margin: 15px; */
    font-size: larger;
    margin-bottom: 20px;
    width: 350px;
    box-shadow: 30px black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bdd6ff;
    border-radius: 3%;
    text-align: start;
    opacity: 90%;
    justify-content: space-evenly;
    /* margin: 10px; */
}
/* .card__banner {
	background-color: #ffe6bd;
	width: 200px;


} */

.tour-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: dotted red 1px;
}

.tour__Form {
    display: flex;
	flex-direction: column;
	align-items: flex-start;

	flex-wrap: wrap;
}

.form__Label {
    margin: 10px;
}

.submit__Button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 125px;
    height: 25px;
}
.createANewTour {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 200px;
    height: 25px;
    text-align: center;
}
.logOut {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 125px;
    height: 25px;
    text-align: center;
}
.buttons__Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    flex-grow: inherit;
}

.createANewDay {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 200px;
    height: 25px;
    text-align: center;
}
.submitNewTour {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 200px;
    height: 25px;
    text-align: center;
}
.createANewMember {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 200px;
    height: 25px;
}
.home {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 200px;
    height: 25px;
    margin-left: 10px;
}
.tour-name {
    display: flex;
    justify-content: center;
    font: bold;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #a8b7ab;
    opacity: 70%;
}
.card__button {
    border-radius: 20%;
    margin: 10px;
    padding: 3px;
    background-color:white
}
.nocrew__Container {
    border: 1px solid;
    width: 250px;
    background-color:#5588e0;
	text-align: center;
	border-radius: 50%;
	padding: 10px;
	font-style: oblique;
}

.logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	
}

img {
	border-radius: 50%;
}

.home__btn{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.select__touronform{
	display: flex;
	width: 150px;
}


.createatour__Form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 150px;
	
}

.picture__class{
display: flex;
justify-content: center;
}
/* .holds__all {
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: left;
	margin: 25px;
} */
.holds__list {
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
}

.crew__Container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
}